[Unit] 
Description=Gunicorn server for DOMAIN 

[Service] 
Restart=on-failure 

User=mani 

WorkingDirectory=/home/mani/sites/DOMAIN 


EnvironmentFile=/home/mani/sites/DOMAIN/.env 

ExecStart=/home/mani/sites/DOMAIN/virtualenv/bin/gunicorn \
    --bind unix:/tmp/DOMAIN.socket \
    superlists.wsgi:application 

[Install]
WantedBy=multi-user.target 
